.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(233, 208, 176);
    padding: 30px;
    border-radius: 10px;
    
   
}

li{
    margin-bottom: 10px;
}
.task-date {
    margin-left: 60px;
}

.search{
    text-align: center;
}

.search-input{
    width: 400px;
}
.search-icon {
   
    
    color: #aaa; 
}


.list{
    display: flex;
    flex-direction: row;
    justify-content:    center;
}

.add-container{
    display: flex;
    justify-content: center;
}